@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: flex-start;
}

.main-index {
  flex-grow: 1;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.menu-item {}

.menu-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.user-menu {
  margin: 0;
  padding: 14px 0 13px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 350px;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 10px;
}

.loupa {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.favourite {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

.fav-number {
  position: absolute;
  top: -3px;
  right: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  box-sizing: border-box;
}

.wish {
  display: block;
  min-width: 160px;
  padding: 8px 7px;
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: 20px;
}

.welcome {
  background-color: #79909e;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  padding-top: 51px;
  padding-bottom: 82px;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  min-height: 485px;
  box-sizing: border-box;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 68px;
}

.advantages-caption {
  margin: 0 auto 26px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  background-color: white;
}

.advantages-text {
  margin: 0 auto 90px;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;

  width: 700px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}



.advantages-title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-discription {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-img {}


.advantages-item {
  min-height: 385px;
  box-sizing: border-box;
  display: flex;
  background-color: white;
}

.advantages-item:nth-child(2n) {
  background-color: white;
}

.advantages-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item-wide .advantages-container {
  background-color: #82b3d3;
  color: #ffffff;
}

.infrastructure {
  padding-top: 64px;
}

.infrastructure-caption {
  margin: 0 auto 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  background-color: white;
}

.infrastructure-lead {
  margin: 0 auto 90px;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 490px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 81px 85px;
  background-color: white;
}

.infrastructure-item:nth-child(2n) {
  background-color: white;
}

/*Жильё*/
.infrastructure-title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-description {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}

.search {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 86px;
  width: 592px;
  margin: 0 auto;
}

/*Заинтересовались?*/
.search-title {
  margin: 0;
  padding: 80px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  padding-bottom: 43px;
  list-style: none;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  display: block;
}

/*ПОИСК ГОСТИНИЦЫ В СЕДОНЕ*/
.search-button {
  display: block;
  min-width: 376px;
  padding: 10px 20px;
  background: #756157;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 8px auto 96px;
  width: 376px;
}

.subscribe subscribe-theme-custom {
  /*background-color: #8babb8;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffff;
  text-align: center;*/
  text-align: center;
  padding-top: 2px;
  padding-bottom: 86px;
  width: 592px;
  margin: 0 auto;
}
/*.subscribe-container{
  width: 684px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/


/*ПОДПИШИСЬ НА РАССЫЛКУ*/
.subscribe-title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;

}

.subscribe-form {
  background-image: url(../images/subscribe.jpg);
  padding-top: 51px;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  height: 406px;
  display: flex;
}

.subscribe-form-name {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Подписаться*/
.subscribe-button {}

footer {}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {}

.footer-social-link {}

.footer-phone {}

.copyright {}

.htmlacademy-logo {}
